{% extends 'base.html' %}
{% load i18n static %}

{% block central_content %}
    <div class="row toolbar-search p-2 m-0">{% include "employees/employees-search.html" %} </div>
    <div class="content mt-3">
        {%comment%} PC VERSION {%endcomment%}
        <div class="d-none d-lg-block"> 
            <div class="row toolbar-content py-3 m-0">
                <div class="col-2"><h2 class="pathway b-right">
                    {%trans 'Técnicos'%} {#<span id="items-counter" class="badge badge-secondary">{{items|length}}</span>#}</h2></div>
                <div class="col-2"> <button type="button" class="btn btn-sm ark new w-100" data-url="{%url "employees-form"%}" 
                    data-target-modal="common-modal"> <i class="fas fa-plus"></i> {% trans 'Nuevo Técnico' %}</button></div>
            </div>
        </div>

        {%comment%} MOBILE VERSION {%endcomment%}
        <div class="d-lg-none"> 
            <div class="toolbar-content p-3 m-0">
                <h2 class="pathway b-right">
                    <i class="fas fa-users orange"></i><span id="items-counter" class="badge badge-secondary">{{items|length}}</span>
                </h2>
                <button type="button" class="btn btn-sm ark new" data-url="{%url "employees-form"%}" data-target-modal="common-modal"> 
                    <i class="fas fa-plus"></i> {% trans 'Nuevo' %}</button> 
            </div>
        </div>

        <div id="emp-list" class="ml-list">{% include "employees/employees-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}
