/*********** UTILS *************/
.text-white {
    color: #ffffff; 
}
.text-success {
	color: #7fb927 !important;
}
.tiny {
    font-size:0.6em; 
    color: #000000;
}
.medium {
    font-size:0.8em;
}
.huge {
    font-size:1.4em;
}
.light-grey{ 
    background: #cccccc;
}
.dark-grey{ 
    background: #999999;
}
.w-100 {
    width:100%;
}
.h-100 {
    height:100%;
}
.p-0 {
    padding:0px;
}
 
h1.pwa {
	color: #444;
	font-size: 1rem;
}

h3 {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none !important;
}

h3.code {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
}

input.pin {
    border: 1px solid #ced4da;
    font-size: 1.2rem;;
}

input#code.form-control.btn.asm.w-50 {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
}

/*********** END UTILS *************/


/*********** BUTTONS *************/
/*
.bg-success.asm { 
    background: #3b693a!important;
}
.btn-success.asm { 
    background: #3b693a;
    border:1px solid #3b693a;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-light.asm { 
    background: #ffffff;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.btn.btn-danger.asm {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn.btn-secondary.asm {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: #e35000;
    border: 1px solid #e35000;
    background: #fdf4ef;
}
*/

.btn.btn-clear {
	background-color: #a3c3ff !important;
	border: 1px solid #a3c3ff !important;
	color: #ffffff;
}

.btn.btn-default {
	color: #666;
}

.btn.btn-success {
	background-color: #7fb927 !important;
	border: 1px solid #7fb927 !important;
}

.btn.btn-primary {
	background-color: #0000ea !important;
	border: 1px solid #0000ea !important;
}

.btn.btn-search {
	border:1px solid #ccc; 
	padding: 0.60rem 0.75rem;
	background:white;
}

.home-opts a {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 2;
}
.home-opts i {
	font-size: 2rem;
}

.end-button {
    position: fixed;
    bottom: 60px;
}

/*********** END BUTTONS *************/

/*********** HEADER *************/
.header {
    background: #ffffff; 
    color: #ffffff; 
    font-weight: 600;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

img.logo {
    height:50px; 
    width:auto;
}

.status-bar-login { 
    background: #e35000; 
    border-radius: 0px 0px 0px 50px;
    color: #ffffff; 
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}
.status-bar { 
    background: #e35000; 
    border-radius: 0px 0px 10px 10px;
    color: #ffffff;
    font-size: 0.75rem;
    height: 20px;
    line-height: 1.8;
    text-transform: uppercase;
}
.status-bar span { 
    font-size: 0.73rem;
    line-height: 1.3;
}

.cabecera {
    background: #ffffff; 
}
.powericon {
    background: #ffffff;
    border:none;
    font-size: 1.5rem;
}
.detail-bar { 
    border-bottom:1px solid #aaa; 
    color: #ffffff; 
    background: #e1bee7; 
}

.underhead {
	height: 30px;
	line-height: 30px;
	text-align:center;
	color: #ffffff;
	font-weight: 600;
	background: #c2c2ff;
	text-transform: uppercase;
}

/*********** END HEADER *************/



/*********** CONTENT *************/


body {
    background: #fff;
}

.container-fluid {
    padding: 0 !important;
}

.content {
    color: #444;
    padding-bottom: 100px;
}

.welcome {
    font-size: 0.7rem;
    color: #666666;
}

.employee-name {
    font-size: 0.8rem;
    color: #999;
    text-transform: Capitalize;
}

a.asm {
    text-decoration:none; 
    color: #ffffff; 
}
.column-btns {
    display:inline-block; 
    padding:0px !important;
    text-align:right;
}
.column-btns-01, .column-btns-02, .column-btns-03 {
    display:inline-block; 
    vertical-align: top;
}

/*********** QR *************/

.reader { 
    border: none !important;
    /*width: 400px;**/
    width: 100%;
    /*margin-top: 50px;*/
}

button.html5-qrcode-element {
    font-weight: 600;
    font-size: 1.2rem !important;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #fff !important;
    border: 1px solid #3b693a !important;
    color: #3b693a !important;
    
    margin-top: 30px !important;
}

span.html5-qrcode-element {
    text-decoration: none !important;
    color: #e35000;
}

p.info {
    background-color: #f8d8b9;
    color: #333;
}
p.name {
    text-align:center;
    text-transform: Capitalize;
    font-weight: 600;
    font-size: 1.5rem;
    color: #f2902d;
}
p.date {
    color: #333 !important;
}

/*********** END QR *************/


/*********** STEPS STYLE  *************/

    .steps-container {
      max-width: 800px;
      padding: 20px 20px 0 20px;
    }

    .div-steps {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .column {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: 600;
	background: #ddd;
	color:#999;
    }
    .circle.active {
      font-size: 25px;
	background: #7fb927;
	color: #ffffff;
   	width: 45px;
      height: 45px;

	}

    .tick {
      font-size: 35px;
    }

/*********** END STEPS STYLE  *************/




/*********** CERTIFICATES  *************/

.text-instruction {
	font-size: 0.9rem;
	font-style: italic;
}

.client-founded {
	font-size: 1.1rem;
	font-weight: 600;
}

.jSignature {
	width: 100% !important;
	border:1px solid #ccc !important;
}

/***********  END CERTIFICATES  *************/


/*********** INCIDENTS  *************/

.incident-content {
	overflow-y: scroll;
	max-height: 530px; 
	margin-top: 20px;
}

.incident-item {
	background: #fff;
	color: #444;
}

/*********** END INCIDENTS  *************/


/*********** END CONTENT *************/


/******* FOOTER *************/

.row.pwa-menu-footer {
	background: #fff;
	position:fixed; 
	bottom: 30px; 
	width:100%;
    	text-transform: uppercase;
    	font-size: 0.9rem;
	line-height: 2rem;

}
.row.pwa-menu-footer .nav-item.active .nav-link {
    border: 1px solid #0000ea;
    color: #0000ea;
    font-weight: 600;
    padding:0px;
}

.row.pwa-menu-footer .nav-item .nav-link {
    border: 1px solid #e7e3e3;
    background: #fff;
    color: #444;
    padding:0px;
}


.footer {
    position:fixed; 
    background-color:#f5f5f5;
    color:#999999; 
    bottom:0px; 
    height:30px;
    font-size:0.7em;
    align-items: center;
}
/*********** END FOOTER *************/

