{% load i18n static %}


<div class="row pwa-menu-footer p-0 m-0">
    <div class="col-6 text-center nav-item {% if "incidents" not in request.path %}active{% endif %} p-1">
        <a class="nav-link" href="{%url 'pwa-home'%}"><i class="fas fa-home"></i> Inicio</a>
    </div>
    <div class="col-6 text-center nav-item {% if "incidents" in request.path %}active{% endif %} p-1">
        <a class="nav-link" href="{%url 'pwa-incidents'%}"><i class="fas fa-cog"></i> Incidencias</a>
    </div>
</div>

